<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">


    <!-- property是setter依赖关系的关系注入属性值 -->
    <bean id = "student-by-setter-injection" class="com.tunine.entity.Student">
        <property name="id" value="10001" />
        <property name="name" value="tunine01" />
    </bean>

    <!-- 构造方式注入属性值 -->
    <bean id = "student-by-constructor-injection" class="com.tunine.entity.Student">
        <constructor-arg name="id" value="11001" />
        <constructor-arg name="name" value="tunine11" />
    </bean>

    <!-- 静态方法实例化 Bean -->
    <bean id = "student-by-static-method" class="com.tunine.entity.Student" factory-method="create" ></bean>

    <!-- 实例（Bean）方法实例化 Bean -->
    <bean id="student-by-instance-method" factory-bean="studentFactory" factory-method="createStudent"/>

    <!-- FactoryBean实例化 Bean -->
    <bean id="student-by-factory-bean" class="com.tunine.factory.StudentFactoryBean" />

    <bean id="studentFactory" class="com.tunine.factory.DefaultStudentFactory"/>

    <bean id = "student01" class="com.tunine.factory.StudentFactoryBean" autowire="constructor">
    </bean>

    <bean id = "student02" class="com.tunine.factory.StudentFactoryBean" autowire="byType">
    </bean>

    <bean id = "student03" class="com.tunine.factory.StudentFactoryBean" autowire="byName">
    </bean>

</beans>